html,
body {
  width: 100%;
  height: 100%;
  background: #16222a;
  background: -webkit-linear-gradient(to right, #16222a, #3a6073);
  background: linear-gradient(to right, #16222a, #3a6073);
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-details p {
  color: #eee;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 0px;
}

.logoimg {
  float: left;
}

.bg-strain {
  background: #16222a;
  background: -webkit-linear-gradient(to right, #16222a, #3a6073);
  background: linear-gradient(to right, #16222a, #3a6073);
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #fff;
}

#mainNav .navbar-nav > li > a {
  font-size: 12px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #fff;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

.navbar-brand img {
  width: 100px;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
  .catalog-wrapper {
    width: 30%;
  }
}

masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

.masthead .header-content h1 {
  font-size: 25px;
}

.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  .masthead {
    height: 10vh;
    min-height: 150px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  masthead .header-content h1 {
    font-size: 60px;
  }
  masthead .device-container {
    max-width: 325px;
  }
}

.bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  margin-left: 5%;
  margin-top: 2%;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.filter-label {
  color: white;
}
